$discriptionFont: "Almendra-Regular",
sans-serif;
$wrapMargin: 0 auto;

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    vertical-align: top;
}

@mixin h1Style {
    margin-top: 126px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #E2E2DC;
    margin-bottom: 15px;
}

@mixin h1StyleTablet {
    font-size: 80px;
    line-height: 80px;
}

@mixin h1StyleWeb {
    font-size: 100px;
    line-height: 100px;
}

@mixin title {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@mixin titleTablet {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 66px;
}

@mixin titleWeb {
    font-family: 'Girassol-Regular', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
    color: #3D3A3A;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@mixin footeTitle {
    font-family: 'Girassol-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #3F4537;
}

@mixin footeTitleTablet {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin footeTitleWeb {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}


@mixin linksStyle {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 170%;
    text-transform: lowercase;
    color: #515151;
    text-decoration: none;
    display: block;
}

@mixin linksStyleTablet {
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

@mixin discriptionStyle {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 25px;
    color: #303030;
}

@mixin discriptionStyleTablet {
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

@mixin discriptionStyleWeb {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 25px;
    color: black;
}

@mixin btn {
    background: url("../img/btn.png") 50% / cover no-repeat;
    border: none;
    height: 60px;
    font-family: $discriptionFont;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
}

@mixin btn() {
    position: relative;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 50%, rgba(161, 57, 240, 1) 50%, rgba(220, 52, 245, 1) 75%, rgba(161, 57, 240, 1) 100%);
    background-size: 100% 200%;
    background-position: 0% 100%;
    color: #fff;
    transition: 400ms;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, .04);

    &:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, .04);
    }
}

@mixin btnIconDef() {
    position: absolute;
    width: 2rem;
    height: .23rem;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 400ms;
}

body {
    font-family: "Girassol-Regular", sans-serif;
    background: url('../img/BACKGROUND.png') 100% / cover no-repeat;
}

.wraper {
    padding: 0 16px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    padding: 16px 0 16px 0;

    .web-links {
        display: none;
    }

    .logo {
        width: 33%;
    }

    .header-push {
        text-transform: uppercase;
        text-align: center;
        width: 33%;
        display: none;
    }

    .burger {
        display: flex;
        justify-content: center;
        width: 33%;
        padding: 2% 0 2% 0;
    }

    .custom-menu-toggle {
        @include btnIconDef();

        &:before {
            @include btnIconDef();
            content: '';
            backface-visibility: hidden;
            transform: rotate(0deg) translateY(10px);
        }

    }

    .main-btn.active .custom-menu-toggle {
        background-color: rgba(255, 255, 255, 0);

        &:before {
            @include btnIconDef();
            content: '';
            transform: rotate(45deg) translateY(0px);
        }

        &:after {
            @include btnIconDef();
            content: '';
            transform: rotate(-45deg) translateY(0px);
        }
    }



}

.navigation-links {
    display: none;

    a {
        @include linksStyle();

        padding: 15px 5px;
        text-transform: uppercase;
    }

    ul {
        position: absolute;
        width: -webkit-fill-available;
        z-index: 2;
        position: absolute;
        width: -webkit-fill-available;
        display: flex;
        background: url('../img/BACKGROUND.png') no-repeat;
        justify-content: space-evenly;
    }
}

.is-active {
    display: block;
}

.main_info {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/main-infro-background.svg) 50% 0% no-repeat;
    background-size: 90%;
    height: 700px;

    h1 {
        @include h1Style();
        margin: 255px auto 20px auto;
        z-index: 2;

    }

    h3 {
        color: #E2E2DC;
        width: 297px;
        z-index: 2;
    }

    .link-btn {
        display: block;
        background: url('../img/link-btn-top.svg') no-repeat;
        font-family: 'Almendra-Regular';
        color: black;
        text-decoration: unset;
        text-transform: uppercase;
        padding: 22px 60px 22px 60px;
        margin-bottom: 60px;
        z-index: 2;
    }

    .link-btn:hover {
        background: rgba(226, 226, 220, 0.7);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

    .web-background {
        display: none;
    }
}

.main_info::before {

    position: absolute;
    content: "";
    top: 20px;
    width: 100%;
    height: 660px;
    z-index: 1;
    right: -100px;
    background: url(../img/frame-top.png) 100% / contain no-repeat;
}

.main_info::after {
    transform: rotate(180deg);
    left: -70px;
    position: absolute;
    content: "";
    top: 4px;
    width: 100%;
    height: 600px;
    z-index: 1;
    background: url(../img/frame-top.png) 100% / contain no-repeat;
}


h3 {
    font-family: $discriptionFont;
    @include discriptionStyle();
}

button {
    @include btn;
    margin-bottom: 249px;
}

button:hover {
    background: #797979;
    transition-duration: 0.2s;
}

.medevial-games {
    h3 {
        @include title();
    }
}


.game-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    margin-bottom: 130px;

    .game_card {
        position: relative;
        cursor: pointer;
        background: url('../img/card.svg') 100% / contain no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        font-family: $discriptionFont;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        margin: 0 auto;

        .card_number {
            margin-left: 15px;
            margin-top: 15px;
        }

        .card_picture {
            width: 70%;
            padding-left: 10px;
            padding-right: 10px;
            align-self: center;
        }

        .card_bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 15px;
            margin-bottom: 12px;
        }
    }

    .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../img/hover.png) 100% / cover no-repeat;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;

        p {
            font-family: 'Almendra-Regular';
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .content * {
        transform: translateY(-70%);
        transition: all 0.3s ease;
        opacity: 0;
    }

    .game_card:hover .content {
        opacity: 1;
    }

    .game_card:hover .content * {
        opacity: 1;
        transform: translateY(0);
    }

    .game_card:nth-child(2),
    .game_card:nth-child(5) {
        display: flex;
        justify-content: center;
        background: unset;
    }

}

.DeusLoVult-games {
    margin-bottom: 155px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .game-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;

        .btn {
            padding-left: 45px;
            padding-right: 15px;
            height: 60px;
            min-width: 52px;
            background-color: unset;
            border: none;
            border-radius: 3px;
            text-decoration: none;
            margin: 5px;
            font-family: 'Girassol-Regular';
            font-size: 0px;
            text-transform: uppercase;
            display: block;
            color: white;
            text-align: left;
            text-decoration: none;
            background: url('../img/link-btn-top.svg') 100% / cover no-repeat;
        }

        .active {
            width: 100%;
            font-size: 13px;
            text-decoration: none;
            background: url('../img/link-btn.svg') 100% / cover no-repeat;
        }

        .btn:hover {
            color: white;
            background: url('../img/link-btn.svg') 100% / cover no-repeat;
        }

        .btn::before {
            left: 10px;
            top: 25%;
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            background: url('../img/picture_game.png') 50% 50%/ cover no-repeat;
            border-radius: 50%;
        }

    }



    .box:not(.a) {
        display: none;
    }

    .box {
        display: flex;
        flex-direction: column;

    }

    .container {
        display: flex;
        flex-direction: column;

        .left-part {

            .gallery {
                margin: 0 auto;
                position: relative;
                margin-bottom: 25px;
            }

            .pics {
                display: flex;
                flex-direction: column-reverse;
                border-radius: 2px;
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.05);
            }

            .thumbs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            .preview {
                width: 23%;
                overflow: hidden;
                margin: 10px 0 0 0;
            }

            .preview:last-child {
                margin-bottom: 0;
            }

            .full {
                width: auto;
                font-size: 12px;
                float: left;
            }

            .full,
            .full img {
                width: 100%;
            }



            .full img:hover {
                cursor: pointer;
            }

            .clearfix:after {
                content: ".";
                visibility: hidden;
                display: block;
                height: 0;
                clear: both;
            }



            .game_rules {
                display: flex;
                justify-content: space-between;
                @include discriptionStyle();
                text-transform: uppercase;
                align-items: center;

                div {
                    text-align: center;
                    border-right: 1px solid #000000;
                    width: 33%;
                    padding: 5px 0 5px 0;
                }

                div:first-child {
                    border-left: 1px solid #000000;
                }
            }
        }

        .right-part {
            .about-game {
                font-family: "Almendra-Regular", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 17px;
                margin-bottom: 25px;
                color: black;

                p {
                    margin-bottom: 10px;
                }
            }

            .link-btn {

                display: block;
                background: url(../img/link-btn.svg) 100% 100%/cover no-repeat;
                border: none;
                font-family: "Almendra-Regular", sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-size: 16px;
                width: fit-content;
                padding: 15px 110px 15px 110px;
                text-align: center;
                margin: 0 auto;
            }

            h2 {
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
            }
        }

    }

}


.game-about {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 150px;

    .right-part {
        position: relative;
        display: flex;
        flex-direction: column;
        background-size: 100%;
        align-items: center;
        position: relative;
        background-color: #3a4334;

        h3 {
            margin-top: 50px;
            @include title();
            color: #BFBDAC;
        }

        img,
        p,
        h3 {
            width: 60%;
        }

        img {
            margin-bottom: 25px;
        }

        p {
            font-family: 'Almendra-Regular';
            @include discriptionStyle();
            margin-bottom: 80px;
            color: #BFBDAC;
        }
    }

    .right-part::after {
        content: "";
        position: absolute;
        bottom: 99%;
        height: 20px;
        width: 100%;
        background: url('../img/decorate.png') top center no-repeat;
        background-size: 100%;
    }

    .left-part {
        position: relative;

        .logo {
            position: absolute;
            width: 83px;
            left: 42.5%;
            top: -40px;
        }

        .pic-2 {
            display: none;
        }
    }

}

.recomended {
    h3 {
        @include title();
        width: 75%;
    }

    .games_card_container {
        margin-bottom: 160px;

        a {
            text-decoration: none;
            color: black;
        }

        .link_card {
            background: url('../img/card-frame.svg') 100% / cover no-repeat;
            display: flex;
            flex-direction: column;
            font-family: $discriptionFont;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            margin: 15px 3px 0;
            width: 165px;

            .card_number {
                margin-left: 15px;
                margin-top: 15px;
            }

            .card_picture {
                padding-left: 20px;
                padding-right: 20px;
                align-self: center;
                margin-bottom: 14px;
            }

            .card_bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 15px;
                margin-bottom: 12px;
            }
        }



        .link_card:hover {
            background: rgba(0, 0, 0, 0.1);
            transition: 0.5s;
        }

        .slick-next {
            right: 30px;
        }

        .slick-next::before,
        .slick-prev::before {
            background: url('../img/arrow-slider.png') 50% no-repeat;
            background-size: 30px;
            color: unset;
            font-size: 30px;
        }

        .slick-prev {
            transform: rotate(-180deg);
            left: 30px;
        }

        .slick-next,
        .slick-prev {
            top: unset;
            bottom: -300px;
        }
    }
}

.footer {
    padding-top: 70px;
    background-color: white;

    h3 {
        @include footeTitle();
    }

    .link-btn {
        display: block;
        background: url('../img/link-btn.svg') no-repeat;
        font-family: 'Almendra-Regular';
        color: white;
        text-align: center;
        text-decoration: unset;
        text-transform: uppercase;
        width: fit-content;
        padding: 24px 80px 24px 80px;
        margin-bottom: 60px;
    }

    .info-container,
    .social-media-contacts {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #000000;

        .info-box,
        .social-mdeia,
        .contacts {

            width: 50%;
            margin-bottom: 35px;

            h3 {
                font-weight: 400;
                font-size: 20px;
                line-height: 170%;
                margin-bottom: 15px;
                color: black;
            }

            a {
                @include linksStyle();
            }
        }

        .info-box:nth-last-child(1) {
            a {
                font-family: 'Open-Sans';
                font-weight: 600;
                font-size: 13px;
                line-height: 100%;
                color: black;
                text-transform: uppercase;
                color: #000000;
                padding: 11px 0 20px 0;

            }
        }
    }

    .about-website {
        h3 {
            @include footeTitle();
            text-transform: unset;
            margin-bottom: 15px;
        }

        p,
        a {
            font-family: 'Open-Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 120%;
            color: #000000;
            padding: 25px 0 25px 0;
        }

        a {
            text-decoration: none;
        }



    }

    .footer-navigation-links {
        display: none;
    }
}

@media (min-width: 767px) {

    .wraper {
        padding: 0 36px;

    }

    .navigation {
        align-items: center;
        padding: 10px 25px 10px 25px;


        .logo {
            img {
                height: 26px;
            }
        }

        .header-push {
            font-family: 'Open-Sans';
            display: block;
        }

        .burger {
            padding: 2% 0 3% 0;

            .main-app {
                margin-left: 50%;
            }
        }

    }

    .main_info {
        overflow: inherit;
        height: 967px;
        margin-bottom: 263px;

        h1 {
            font-size: 50px;
            margin: 400px auto 25px auto;
        }

        h3 {
            @include discriptionStyleTablet();
            color: #E2E2DC;
            width: 50%;
        }
    }

    .main_info:before {
        transform: scale(1.8);
        top: 300px;
        width: 255px;
        right: 105px;
        height: 540px;
    }

    .main_info::after {
        transform: scale(1.8) rotate(180deg);
        left: 68px;
        top: 220px;
        width: 236px;
    }

    .medevial-games {

        h3 {
            @include titleTablet();
        }

        .game-card-container {
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }

    }

    .DeusLoVult-games {
        .game-buttons {
            margin: 0 0 60px 0;

            .btn {
                padding-left: 95px;
                height: 107px;
                min-width: 107px;
            }

            .btn::before {
                left: 25px;
                width: 50px;
                height: 50px;
            }

            .active {
                font-size: 25px;
            }
        }

        .container {
            border-bottom: solid 2px black;

            .left-part {

                margin-bottom: 40px;

                .gallery {
                    .pics {
                        flex-direction: row;

                        .thumbs {
                            flex-direction: column;
                            width: 23%;
                            margin: 0 15px 0 0;

                            .preview {
                                width: 100%;
                                margin: unset;
                            }
                        }
                    }
                }


                .game_rules {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            .right-part {

                h2 {
                    margin-bottom: 30px;
                }

                .about-game {
                    p {
                        font-size: 16px;
                        margin-bottom: 30px;
                    }

                }

                .link-btn {
                    padding: 23px 160px 23px 160px;
                    margin: 0 0 60px 0;
                }

            }
        }

    }

    .game-card-container {
        margin-bottom: 250px;

        .game_card {
            height: 381px;
            background-size: cover;

            .card_number,
            .card_bottom {
                font-size: 20px;
            }

            .card_number {
                margin-left: 25px;
            }

            .card_bottom {
                margin: 0 25px;
            }
        }




        img {
            width: 335px;
        }
    }


    .game-about {

        .right-part {
            h3 {
                font-size: 40px;
                margin-top: 150px;
            }

            p {
                margin-bottom: 180px;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
            }

            img,
            h3,
            p {
                width: 45%;
            }


        }

        .left-part {
            .logo {
                left: 45%;
            }
        }
    }

    .recomended {
        h3 {
            @include titleTablet();
        }

        .games_card_container {
            .game_card {
                height: 457px;
                width: 300px;
                justify-content: space-between;

                .card_number,
                .card_bottom {
                    font-size: 20px;
                }

                .card_number {
                    margin-top: 33px;
                    margin-left: 25px;
                }

                .card_bottom {
                    margin: 0 25px 34px 25px;
                }
            }


        }
    }

    .footer {
        padding-top: 100px;

        h3 {
            font-size: 50px;
            width: 47%;
            margin-bottom: 36px;
        }

        .link-btn {

            margin-bottom: 100px;

        }

        .info-container {
            .info-box {
                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                }
            }
        }

        .about-website {

            p,
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                width: 50%;
            }
        }
    }
}

@media (min-width: 1079px) {

    .wraper {
        padding: 0 100px;
    }

    .navigation {
        padding: 35px 100px 35px 100px;

        .web-links {
            display: block;
            width: 33%;

            ul {
                display: flex;

                a {
                    font-family: "Open-Sans", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    padding: 0 16px 0 16px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 100%;
                    text-transform: uppercase;
                    text-decoration: unset;
                    color: black;
                }
            }

        }

        .logo {
            img {
                height: 44px;
            }

            width: unset;
        }

        .header-push {
            text-align: end;
        }

        .burger {
            display: none;
        }


    }

    .main_info {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin-bottom: unset;
        height: 760px;
        margin-bottom: 235px;

        h1 {
            text-align: center;
            width: 100%;
            font-size: 104px;
            margin-bottom: 40px;
        }

        h3 {
            width: 370px;
            padding: 0 20px 0 0;
        }

        background: url('../img/background-web.svg') 50% 0% no-repeat;

        .web-background {
            position: absolute;
            display: block;
            top: -5%;
            max-width: 1600px;

            img {
                margin: 0 auto;
                display: block;
                max-width: 90%;
            }
        }
    }

    .main_info::before,
    .main_info::after {
        display: none;
    }

    .medevial-games {
        .game_card {

            justify-content: space-evenly;
            ;
            width: 100%;
            height: auto;

            .card_number,
            .card_bottom {
                font-size: 20px;
            }

            .card_number {
                margin-left: 25px;
            }

            .card_bottom {
                margin: 25px 20px 25px 20px;

            }



        }

        .game-card-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "game-card-1 game-card-1 game-card-2 game-card-3"
                "game-card-1 game-card-1 . game-card-4";
        }

        .game-card-2 {
            grid-area: game-card-2;
        }

        .game-card-1 {
            grid-area: game-card-1;
            height: auto;

            img {
                width: 470px;
            }
        }

        .game-card-3 {
            grid-area: game-card-3;
        }

        .game-card-4 {
            grid-area: game-card-4;
        }

        .game-card-empty:nth-child(2) {
            display: none;
        }



    }


    .game-about {
        display: flex;
        flex-direction: row-reverse;

        .left-part {
            width: 50%;

            .pic-1 {
                display: none;
            }

            .pic-2 {
                display: block;
            }

            .logo {
                top: 45%;
                left: 94%;
            }
        }

        .right-part {
            justify-content: center;
            width: 50%;
            margin: 10px 0 65px 0;

            p {
                margin-bottom: unset;
            }
        }

        .right-part::before {
            content: "";
            position: absolute;
            top: 99%;
            height: 70px;
            width: 100%;
            background: url('../img/decorate.png') bottom center no-repeat;
            background-size: 100%;
            transform: rotate(180deg);
        }
    }

    .DeusLoVult-games {
        display: flex;
        justify-content: space-between;
        margin-bottom: 310px;


        .game-buttons {
            width: 100%;

            .btn {
                color: black;
                font-size: 20px;
                width: 100%;
            }

            .active {
                color: #E2E2DC;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .left-part {
                .gallery {
                    margin-bottom: 40px;
                }

            }

            .right-part {
                .about-game {
                    p {
                        font-size: 16px;
                        margin-bottom: 35px;
                    }
                }
            }

            .left-part,
            .right-part {
                width: 49.5%;
            }

        }
    }


    .recomended {
        .games_card_container {
            .link_card {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 456px;
                width: 335px;
                margin: 0 7px;

                .card_number,
                .card_bottom {
                    font-size: 20px;
                }
            }

            .slick-next:hover {
                transform: scale(1.2);
            }

            .slick-prev:hover {
                transform: rotate(-180deg) scale(1.2);
            }
        }
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 80px;


        .left-part,
        .right-part {
            width: 50%;
            border-bottom: 1px black solid;
        }

        .right-part {
            .info-container {
                justify-content: space-between;
                border-bottom: none;

                .info-box {
                    width: 30%;
                }

                .info-box:last-child {
                    display: none;

                }
            }
        }

        .about-website {
            width: 70%;
        }

        .navigation-container {
            display: flex;
            width: 100%;
            align-items: center;

            .footer-navigation-links {
                display: block;
                width: 30%;

                ul {
                    display: flex;
                    justify-content: space-between;

                    a {
                        display: block;
                        font-family: "Open-Sans", sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        padding: 0 16px 0 16px;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 100%;
                        text-transform: uppercase;
                        text-decoration: unset;
                        color: black;
                        padding: 25px 0 25px 0;
                    }
                }

            }
        }


    }

}

@media (min-width: 1600px) {
    .wraper {
        margin: 0 auto;
        max-width: 1600px;
    }

    .main_info {
        margin-bottom: 235px;
    }

    .DeusLoVult-games {
        margin-bottom: 310px;
    }

}